.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 550px) {
	.flip-card {
		margin-right: 0px;
    margin-left: 0px;
	}
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-radius: 13px;
    background-color: transparent;
		color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
}

.flip-card-front:hover {
	border: 2px dashed #FEC02C;
	cursor: grab;
}


/* Style the back side */
.flip-card-back {
    border-radius: 13px;
    background-color: transparent;
    color: black;
		transform: rotateY(180deg);
		cursor: pointer;
		border: 2px dashed #FEC02C;
}

.rounded-avatar {
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 150px;
	border: 2px dashed #FEC02C;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.avatar-image {
	width: 100%;
	height: auto;
  margin-top: auto;
}

.avatar-name {
	font-size: 18px;
	font-weight: 500;
	color: black;
	margin-top: 20px;
}

.avatar-positon {
	font-size: 18px;
	font-weight: 500;
	color: black;
	margin-top: 20px;
}

.avatar-info {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-size: cover;
	font-size: 16px;
	color: black;
	text-align: center;
}

@media screen and (max-width: 550px) {
	.avatar-info {
		font-size: 14px;
	}
}

.avatar-name-2 {
	font-size: 18px;
	font-weight: 600;
	color: #FEC02C;
	font-style: italic;
	margin-left: 20px;
	margin-right: 10px;
}